<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <a class="navbar-brand">
        <img src="../../../assets/logo-example.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Início<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gerencial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Shopping</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-4 my-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="#">Sair <span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
</nav>

<div class="container empresas-page">
    <div class="row justif-content-center">
        <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/shop-example.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Empresa A</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 mx-auto" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/shop-example.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Empresa B</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


