<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <a class="navbar-brand">
        <img src="../../../assets/logo-example.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Início<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gerencial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Shopping</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-4 my-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="#">Sair <span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div id="map"></div>
    <div class="card m-auto border-dark">
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label class="mb-1" for="exampleInputEmail1">Nome da empresa</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação A</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação B</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação C</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação D</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação E</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação F</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label class="mb-1" for="exampleInputEmail1">Informação G</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
</div>

